<!-- includes/header -->
<header class="site-header">
    <a class="site-title" href="{{ site.baseurl }}/">
        <h1>BETTA</h1>
        <h2>DESIGN</h2>
    </a>
    <div class="nav">
        <div class="menu-btn hamburger" id="menu-btn">nav</div>
        <div class="responsive-menu">
            {% assign menu = site.menus.header %}
            <h4>Menu Size: {{ menu.size }}</h4>
            {% if menu != '' %}
                <ul>
                    {% for item in menu %}
                        <li class="menu-item-{{ forloop.index }}">
                            <a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a> 
                            {% comment %}{% if item.children %} 
                                {% assign menu = item.children %} 
                                {% include menu.html %} 
                            {% endif %}{% endcomment %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% comment %}{% include menus.html %}{% endcomment %}
        </div>
    </div>
</header>
