<!-- includes/header -->
<header class="site-header">
    <a class="site-title" href="{{ site.baseurl }}/">
        <h1>BETTA</h1>
        <h2>DESIGN</h2>
    </a>
    <div class="nav">
        <div class="menu-btn hamburger" id="menu-btn">nav</div>
        <div class="responsive-menu">
            {% assign menu_name = 'header' %}
            {% assign list = site.menus[menu_name] %}
            <h4>Menu Size: {{ list.menu | size }}</h4>
            <h4>Menu ID: {{ list.identifier }}</h4>
            <h4>Menu Name: {{ list.menu }}</h4>
                <ul>
                    {% for i in list %}
                        {{ forloop.index }}
                        <li class="menu-item-{{ forloop.index }}">
                            <a href="{{ i.url }}" title="Go to {{ i.title }}">{{ i.title }}</a> 
                            {% comment %}{% if i.children %} 
                                {% assign menu = i.children %} 
                                {% include menu.html %} 
                            {% endif %}{% endcomment %}
                        </li>
                    {% endfor %}
                </ul>
            {% comment %}{% include menus.html %}{% endcomment %}
        </div>
    </div>
</header>
