<header class="site-header">

    <a class="site-title" href="{{ site.baseurl }}/">
        <h1>BETTA</h1>
        <h2>DESIGN</h2>
    </a>
    
<div class="nav">

    <div class="menu-btn hamburger" id="menu-btn">nav</div>


    <div class="responsive-menu">

        <ul>
            <li><a href="{{ site.baseurl }}/">home</a></li>
            <li><a href="{{ site.baseurl }}/portfolio">portfolio</a></li>
            <li><a href="{{ site.baseurl }}/blog">blog</a></li>
            <li><a href="{{ site.baseurl }}/about">about</a></li>
            <li><a href="{{ site.baseurl }}/services">services</a></li>
            <li><a href="{{ site.baseurl }}/contact">contact</a></li>
            
<!--             {% for post in site.categories.blog limit:1 %}
            <li><a href="{{ blog-post.url | prepend: site.baseurl }}">blog</a></li>
            {% endfor %} -->
        </ul>

    </div>

</div>

</header>



