
$global:0.625;
$azo: 'azo-sans-web', sans-serif;
$neu: 'neuzeit-grotesk', sans-serif;
$neu-con: 'neuzeit-grotesk-condensed', sans-serif;

$fullwidth:1000px;






/* ========================= Colors ============================ */

$maincolor: rgba(218,237,226,1);
$secondcolor: rgba(217,100,89,1);
$thirdcolor: rgba(248,248,211,1);
$fourthcolor: rgba(51,55,69,1);
$fifthcolor: rgba(0,137,136,1);





/* ========================== Font ============================= */
@mixin font($em){
		font-size: ($em*$global) + px;
		font-size: ($em) + em;
}





