.home {
	width:100%;
	overflow:hidden;
	position: relative;
	background:transparent;
}
hr {
	border: 0;
    height: 2px;
    opacity: 0.3;
    background-image: linear-gradient(to right, $maincolor, $secondcolor, $maincolor);
}

.home > h3 {
	position:relative;
	@include font(2.5);
	opacity:0.4;
	font-family:$neu;
	font-weight:700;
	color: $secondcolor;
	// background: -webkit-linear-gradient($fifthcolor 40%, $secondcolor 40%, $fifthcolor 70%);
	// -webkit-background-clip: text;
	// -webkit-text-fill-color: transparent;
	display: block;
	// letter-spacing:2px;
	max-width:250px;
	@include margin(2em 5% 1em);
	@media screen and (min-width:600px) {
		// width: 100%;		
		@include margin(3em auto 1em);
		@include padding(0 0.5em);
		max-width: $fullwidth;

	}
	// text-align:center;
	// &:nth-of-type(2n) {
	// 	@include margin(2em auto);
	// }
}

.hero {
	width:100%;
	position: relative;
	overflow: hidden;
	color: $thirdcolor;
	background:$secondcolor;
	z-index: 1;

	a.hero-2 {
		display: none;
	}
	.mini-about {
		position: relative;
		width: auto;
		@include padding(6em 20%);
		z-index: 1;
		// text-align: center;

		&:before {
			content: '';
	        overflow: hidden;
	        width: 100%;
	        height: 100%;
	        position: absolute;
	        background: url('/img/blog/post-heros/hero2.jpg');
			background-position:center;
			background-size:cover;
			background-repeat:no-repeat;
	        top:0;
	        left:0;
	        opacity: 0.7;
	        z-index: -2;
		}
		&:after {
			content: '';
	        overflow: hidden;
	        width: 100%;
	        height: 100%;
	        position: absolute;
	        background: $fourthcolor;
	        top:0;
	        left:0;
	        opacity: 0.4;
	        z-index: -1;
		}
		@media screen and (min-width:850px) {

			// @include padding(6em 25%);
			// width: 30%;
			// display: inline-block;
			// @include padding(0);
			// @include margin(0 auto);
			// vertical-align: top;


			&:before, &:after {
				background:transparent;
			}
		}
	}
	h2 {
		font-family: $azo;
		font-weight: 700;
		@include font(2);
		line-height: 1.1em;
		display: block;
		@include margin(0.5em auto);
		letter-spacing: 1px;
		text-transform: uppercase;

	}

	p {
		font-family: $azo;
		font-weight: 400;
		@include font(1.25);
		line-height: 1.6em;
		display: block;
		@include margin(1em auto);

	}

	.button {

	    display: block;
	    width: 80px;
	    height:80px;
	    @include margin(2em auto);
	    border-radius:15em;
	    background:$secondcolor;
	    // opacity: 0.8;
	    border: 3px solid $thirdcolor;
	    color: $thirdcolor;

	    span {
	    	text-align: center;
	    	line-height: 0.85em;
			font-family: $neu;
		    font-weight: 400;
		    @include font(1.05);
		    display: block;
		    @include margin(1.4em auto 0);
		    text-transform: uppercase;
	    }
	}

	.hero-contact {
		@include padding(6em 0);

		@media screen and (min-width:600px) {
			// @include padding(0 20%);
		}

		// @media screen and (min-width:850px) {
		// 	width: 30%;
		// 	display: inline-block;
		// 	@include padding(0);
		// 	@include margin(0 auto);
		// 	vertical-align: top;


		// }
		h2 {
			@include margin(0.5em auto);
			display:block;
			width:80%;
			text-align: center;
		}

		.about-button {
			// width: 55%;
			@include margin(2em auto 0);
			display: block;
			// background:$fifthcolor;
			// color:$fourthcolor;
			// background:rgba(51,55,69,0.3);
			background: rgba(248,248,211,0.2);

		}

		@media screen and (min-width:850px) {
			h2 {
				width: 90%;
				// @include margin(0 auto);
			}
			input {
				width:65%;
				@include margin(2em 0 0 10%);
			}
		}
			::-webkit-input-placeholder {
			   color: $fourthcolor;
			   font-family: $azo;
			   font-weight: 400;
			   // @include padding(0.1em 0 0 0.5em);
			   @include font(1.3);
			   line-height: 1.6em;
			   opacity: 0.5;
			}

			:-moz-placeholder { /* Firefox 18- */
			   color: $fourthcolor;
			   font-family: $azo;
			   font-weight: 400;
			   // @include padding(0.1em 0 0 0.5em);
			   @include font(1.3);
			   line-height: 1.6em;
			   opacity: 0.5;  
			}

			::-moz-placeholder {  /* Firefox 19+ */
			   color: $fourthcolor;
			   font-family: $azo;
			   font-weight: 400;
			   // @include padding(0.1em 0 0 0.5em);
			   @include font(1.3);
			   line-height: 1.6em;
			   opacity: 0.5;  
			}

			:-ms-input-placeholder {  
			   color: $fourthcolor;
			   font-family: $azo;
			   font-weight: 400;
			   // @include padding(0.1em 0 0 0.5em);
			   @include font(1.3);
			   line-height: 1.6em;
			   opacity: 0.5;  
			}
		button {
			display: inline-block;
		    width: 40px;
		    height:40px;
		    @include margin(2em auto 2em -2em);
			vertical-align: top;
		    border-radius:15em;
		    background:$secondcolor;
		    // opacity: 0.8;
		    border: 3px solid $thirdcolor;
		    color: $thirdcolor;
		    cursor: pointer;
		}
	}
	.center-img {
		display: none;

		@media screen and (min-width:850px) {
			display: block;
			width: 30%;
			position: relative;
			@include margin(0 auto);
			overflow: hidden;



			.circle-img {
				width: 100%;
				height:auto;
				background: url('/img/blog/post-heros/hero2.jpg');
				background-position:center;
				background-size:cover;
				background-repeat:no-repeat;
				@include margin(0 auto);
				overflow: hidden;
				opacity: 0.8;
				z-index: 1;
				position: relative;
				// display: block;
				@include border-top-radius(50%);
				@include border-bottom-radius(50%);
				padding-top: 100%;

			}

		}
	}

	@media screen and (min-width:850px) {
		@include padding(4em 5%);
		.hero-1 {
			display: none;
		}

		.hero-2 {
			@include margin(2em auto);
		}
		.hero-wrap {
			position: relative;
			width: 100%;
			max-width: $fullwidth;
			@include margin(0 auto);
			@include padding(1em);
		}
		// .hero-contact,
		.mini-about, 
		.center-img {
			width: 32.5%;
			// max-width: 220px;
			display: inline-block;
			// float: left;
			@include padding(1em);
			@include margin(0 auto);
			vertical-align: middle;
			position:relative;
		}
		.hero-contact {
			@include padding(1em 0);
			width: 32.5%;
			// max-width: 220px;
			display: inline-block;
			// float: left;
			@include margin(0 auto);
			vertical-align: top;
			position:relative;
		}

	}
}
.post-list {
	position: relative;
	overflow:hidden;
	
	// .post-box{
	// 	max-width: 450px;

	// }
		h3 {
			display:none;
		}
		.excerpt {
			@include margin(1em auto);
			@include padding(.1em);
		}
		.post-box {
			max-width: 450px;
		}
	@media screen and (min-width:600px) {
		// &.second > .post-box {
		// 	width: 45%;
		// 	@include margin(0.5em 2%);
		// 	position: relative;
		// 	display: inline-block;
		// 	float: left;
		// 	.img-overlay {
		// 		max-height:12em;
		// 	}
		// }
		// .arrow-box,

		.post-info,
		.img-overlay {
			width: 95%;
			@include margin(0 auto);
			display: block;
			clear:both;
			overflow: hidden;
		}
		// .first-post {
		// 	width: 45%;
		// 	@include margin(0 1em);
		// }
		.img-overlay {
			max-height:14em;
		}
		.excerpt {
			width: 75%;
			@include margin(1em 5%);
			display: block;

		}
		// .button {
		// 	float:right;
		// 	clear:both;
		// }

		p {
			display:inline-block;
			clear:both;
			vertical-align: top;
			// float:left;
			// width: 48.5%;
			@include margin(1%);
			@include padding(0);
			&:first-of-type {
				display: none;
			}
			&:nth-of-type(2n) {
				@include margin(1% 1% 1% 0);
			}
			&:nth-of-type(3n) {
				@include margin(1% 0 1% 1%);
				
			}
			
		}

	}
	@media screen and (min-width:850px) {
		max-width: $fullwidth;
		@include margin(0 auto);
		.post-box {
			vertical-align: top;
			width: 45%;
			@include margin(0 0 0 2%);
			display:inline-block;
		}
		// &.second > .post-box {
		// 	width: 40%;
		// 	@include margin(0.5em 8% 0.5em 2%);
		// 	position: relative;
		// 	display: inline-block;
		// 	float: left;
		// 	.post-info {
		// 		width: 100%;
		// 	}
		// 	.img-overlay {
		// 		max-height:12em;
		// 		width: 100%;
		// 	}
		// }

		// .arrow-box,
		.post-info,
		.img-overlay {
			// width: 45%;
			// @include margin(0 0 0 2%);
			display: block;
			clear:both;
			overflow: hidden;
			position: relative;
			float:left;
		}
		.img-overlay {
			max-height:15em;
		}
		.excerpt {
			// width: 45%;
			display: inline-block;
			// @include margin(0 0 0 5%);
			position: relative;


			// float:right;
			p {
				width: 100%;
				@include margin(0 auto 1em);

				&:nth-of-type(2n) {
					// @include margin(-22em 1% 1% 0);
				}
			}
		}

	}
	.arrow-button {
		position: relative;
		// opacity: 0.5;
		z-index: 1;
	    display: block;
	    width: 5em;
	    height:5em;
	    // border-radius:15em;
	    // background:$secondcolor;
	    background:transparent;
	    border: 3px solid $thirdcolor;
	    color: $thirdcolor;
	    @include margin(1em 10%);

	    span {
	    	position: absolute;
	    	text-align: center;
	    	line-height: 1em;
	    	top:-0.15em;
	    	left:0.25em;
			font-family: $neu;
		    font-weight: 400;
		    @include font(5);
		    // display: block;
		    // @include margin(-1em auto 0.5em);
		    // @include padding(0 0 1em 0);
	    }
	}
	.slick-prev {
		float:left;
		// z-index: 10000;

		cursor: pointer;
		// @include margin(1em);
		// span {
		// 	@include margin(0.15em 0.15em 0 0);
		// }
	}
	.slick-next {
		float:right;
		cursor: pointer;

		// @include margin(1em);
		// span {
		// 	@include margin(0.15em 0 0 0.15em);
		// }
	}
}
.post-box {
	display: block;
	width:100%;
	@include margin(0 auto 1em);
	position: relative;
	overflow:hidden;
	
	p {
		font-family: $azo;
		font-weight:400;
		color: $fourthcolor;
		@include font(1);
		line-height: 1.5em;
		@include margin(0 1em 0.5em);
		clear:both;
		overflow: hidden;
		position: relative;
	}
	.button {
	    display: block;
	    width: 50px;
	    height:50px;
	    @include margin(1em auto);
	    border-radius:15em;
	    background:$secondcolor;
	    // opacity: 0.8;
	    border: 3px solid $thirdcolor;
	    color: $thirdcolor;

	    span {
	    	text-align: center;
	    	line-height: 0.85em;
			font-family: $neu;
		    font-weight: 400;
		    @include font(0.8);
		    display: block;
		    @include margin(0.85em auto 0);
	    }
	}
}

.img-overlay {
	// content: '';
	max-height:12em;
	display: block;
	position:relative;
	@include margin(0 auto);
    overflow: hidden;
    // height:auto;
    background: $fourthcolor;
    opacity: 1;
    .post-image {
		width: 100%;
		// max-height:10em;
		@include margin(0 auto);
		opacity: 0.7;
		// z-index: 1;
		position: relative;
		// display: block;
	}
}
.port-feed {
	@include margin(0 auto 3em);
	.post-box {
		position: relative;
		// max-width: 350px;
		// @include padding(1em);
		.post-image {
			overflow: hidden;
			// position: absolute;
			width:110%;
			bottom:4em;
			left:-1em;
		}
		@media screen and (min-width:600px) {
			.post-image {
				bottom:2em;
				left:-2em;
				width: 130%;
				// overflow:hidden;
			}
			.img-overlay {
				max-height:13em;
			}

			width: 47%;
			@include margin(0 1%);
			display: inline-block;
			vertical-align: top;
			// position:relative;

		}

		@media screen and (min-width:850px) {
			.post-image {
				bottom:5em;
				left:-2em;
				width: 140%;
				// overflow:hidden;
			}
			
			.img-overlay {
				max-height: 18em; 
			}

			width: 45%;
			@include margin(0 0 0 2%);
			// display: block;
			clear:both;
			overflow: hidden;
			position: relative;

			.img-overlay, 
			.post-info {
				width: 100%;
			}
			// float:left;
		}
	}
}
.recent-list {
	.post-box {
		@include margin(0 auto 0.7em);
		&:nth-of-type(n+5) {
			display:none;
		}
	}
	.post-image {
		width: 110%;
	}
	a.post-info {
		display:block;
		width:100%;
		@include margin(0 auto);
		overflow:hidden;

		h2 {
			@include font(1.3);
			@include margin(0 0 0.45em);

		}
	}
	.img-overlay {
		display: none;
	}
	// width:100;
	// position:relative;
	// @include margin(0 auto);

	@media screen and (min-width:600px) {
		width: 95%;
		@include margin(0 auto);
		.post-box {
			width: 47%;
			@include margin(0 1% 2em);
			display: inline-block;
			vertical-align: top;
			position:relative;

			// &:nth-of-type(even) {
			// 	@include margin(0 5% 1em 1%);
			// }
		}
		.arrow-box,
		.post-info,
		.img-overlay {
			width: 100%;
			@include margin(0 auto);
			display: block;
			clear:both;
			overflow: hidden;
		}
		.img-overlay {
			max-height:10em;
		}
	}

	@media screen and (min-width:850px) {
		max-width: $fullwidth;
		@include margin(0 auto);
		.post-box {
			width: 20%;
			@include margin(0 0 2em 3%);
			
			&:nth-of-type(n4) {
				@include margin(0 0 2em);
			}

			&:nth-of-type(n+5) {
				display:inline-block;
			}
		}
		.img-overlay {
			max-height: 8em;
			width: 120%;

		}
		a.post-info > h2 {
			@include font(0.9);
			line-height: 1.2em;
		}
	}

}

.post-info {
	background: $fifthcolor;
	width:100%;
	@include margin(0 auto);
	@include padding(1em);
	opacity:0.8;
	position:relative;

	h2 {
		font-family: $neu;
		font-weight:700;
		letter-spacing: 1px;
		@include font(1.9);
		@include margin(0 0 0.2em);
		color: $thirdcolor;
		text-transform: uppercase;
		position:relative;
	}

	.date {
		color: $thirdcolor;
		@include font(0.7);
		line-height: 1.4em;
		text-transform: uppercase;
		position: relative;
		display: inline-block;
		width:auto;
		font-family: $neu;
		font-weight:500;
		letter-spacing: 2px;
		@include padding(0.3em);
		// @include margin(0 0 0.8em);
		opacity: 0.8;
		border-bottom:  2px solid $thirdcolor;
		border-top:  2px solid $thirdcolor;
	}

}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    // height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}



/* Dots */

.slick-dots
{
    position: absolute;
    top: 10em;
	left:15%;
	right:15%;
    display: block;

    width: 70%;
    padding: 0;
    // z-index: 20;

    list-style: none;

    text-align: center;
    background:$fifthcolor;
    overflow: hidden;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 40px;
    height: 40px;
    margin: 0.5em 5px;
    padding: 0;
    // z-index: 10;

    cursor: pointer;
}
.slick-dots li button
{
    // font-size: 0;
    // line-height: 0;
    // z-index: 10;

    display: block;

    // width: 20px;
    // height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
    outline:none;
}
.slick-dots li button:before
{
    // font-family: $neu;
    // font-size: 40px;
    // @include font(3);
    // line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 12px;
    height: 12px;
	border-radius:15em;
    content: '';
    text-align: center;

    opacity: .5;
    background: $secondcolor;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    background: $secondcolor;
}




