.about-wrap {
	width:100%;
	max-width:$fullwidth;
	overflow:hidden;
	position: relative;
	background:transparent;
	@include margin(0 auto);
}
.about-hero {
	width:100%;
	position: relative;
	overflow: hidden;
	color: $thirdcolor;
	background:$secondcolor;
	z-index: 1;
	position: relative;
	@include margin(0 auto);
	ul {
		display: block;
		width: 90%;
		max-width: 400px;
		@include margin(10em auto 1em);
		position: relative;

		@media screen and (min-width:600px) {
			@include margin(18em auto 2em);
		}
		@media screen and (min-width:850px) {
			@include margin(25em auto 3em);
		}

	}
	li {
		position: relative;
		width: 20%;
		display: inline-block;
		@include margin(0 6.2%);
		@include padding(0)
		// text-align:center;
	}
	&:before {
		content: '';
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        background: url('/img/blog/post-heros/hero2.jpg');
		background-position:center;
		background-size:cover;
		background-repeat:no-repeat;
        top:0;
        left:0;
        opacity: 0.7;
        z-index: -2;
	}
	&:after {
		content: '';
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        background: $fourthcolor;
        top:0;
        left:0;
        opacity: 0.4;
        z-index: -1;
	}
}
.about-button {
    display: inline-block;
    width: 80px;
    height:80px;
    opacity: 0.8;
    @include margin(1em auto);
    border-radius:15em;
    background:$secondcolor;
    border: 3px solid $thirdcolor;
    color: $thirdcolor;

    span {
    	text-align: center;
    	line-height: 0.85em;
		font-family: $neu;
	    font-weight: 400;
	    @include font(0.9);
	    display: block;
	    @include margin(1.9em auto 0);
	    text-transform: uppercase;
    }
}
.bio {
	@include margin(0 auto);
	width:100%;
	// max-width:$fullwidth;
	position: relative;
	background:$secondcolor;
	// color: $thirdcolor;
	overflow:hidden;

	h3 {
		color: $thirdcolor;
		@include margin(0 auto);
		@include padding(1em 0);
		position: relative;
		opacity: .6;
		text-transform:uppercase;
		text-align: center;
		font-family: $azo;
		font-weight: 700;
		@include font(2);
		line-height: 1.1em;
		display: block;
		@include margin(0.5em auto);
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.bio-wrap {
		@media screen and (min-width:850px) {
			width: 90%;
			max-width: $fullwidth;
			@include margin(0 auto);
			position: relative;
		}
	}
	p {
		color:$thirdcolor;
		font-family: $azo;
		font-weight:400;
		// color: $fourthcolor;
		@include font(1);
		line-height: 1.5em;
		width:90%;
		max-width: 400px;
		@include margin(0 auto 2em);
		clear:both;
		overflow: hidden;
		position: relative;

		@media screen and (min-width:850px) {
			display: inline-block;
			width: 29%;
			@include margin(1em 1.5%);
			@include padding(0 0.5em 1em);
			vertical-align: top;
			&:nth-of-type(3n) {
				// @include margin(-40em 5% 1em);
				// float:right;
			}
		}
	}
	// h4 {
	// 	color: $thirdcolor;
	// 	@include margin(0 auto);
	// 	@include padding(1em 0);
	// 	position: relative;
	// 	width: 30%;
	// 	display: block;
	// 	@include font(1.3);
	// 	line-height: 1.3em;
	// 	// opacity: .8;
	// 	font-family: $neu;
	// 	text-align:center;
	// 	// text-transform:uppercase;
	// }
}

