.portfolios {
	width:100%;
	overflow:hidden;
	position: relative;
	background:transparent;
	@media screen and (min-width:600px) {
		width: 90%;
		max-width:$fullwidth;
		@include margin(0 auto);	
	}

	.post-list {
		position: relative;
		overflow:hidden;
		.post-box {
			max-width: 450px;
			@include margin(1em auto);

		}

		.post-image {
			width: 120%;
			bottom:3em;
			left:-1em;
		}
		
		@media screen and (min-width:600px) {
			.post-box {
				width: 45%;
				@include margin(0.5em 2%);
				position: relative;
				display: inline-block;
				float: left;
			}
			.post-info,
			.img-overlay {
				width: 100%;
				@include margin(0 auto);
				display: block;
				clear:both;
				overflow: hidden;
			}
			.img-overlay {
				max-height:9em;
			}

		}
		@media screen and (min-width:850px) {
			max-width: $fullwidth;
			@include margin(0 auto);
			

			.post-info,
			.img-overlay {
				width: 100%;
				@include margin(0);
				display: inline-block;
				clear:both;
				overflow: hidden;
				position: relative;
				float:left;
			}
			.img-overlay {
				max-height:15em;
			}

		}
	}

	.page-type {
		position:relative;
		@include font(3);
		opacity:0.5;
		font-family:$neu;
		font-weight:700;
		color: $secondcolor;
		@include margin(0.5em auto);
		text-align:center;
		@media screen and (min-width:850px) {
			@include font(4);
			@include margin(1em 0);
		}

	}

	h3 {
		position:relative;
		@include font(2);
		opacity:0.7;
		font-family:$neu;
		font-weight:700;
		color: $secondcolor;
		// width: 70%;
		@include margin(1.5em auto 0.5em);
		text-align:center;
		width:100%;

	}
	.divider {
		border: 0;
	    height: 2px;
	    width: 100%;
	    opacity: 0.2;
	    // background-image: linear-gradient(to right, $maincolor, $fifthcolor, $maincolor);
	    background:$maincolor;
	}

	.post-content {
		width:90%;
		@include margin(2em auto);
		position: relative;
		overflow:hidden;

		p {
			font-family: $neu;
			font-weight: 400;
			@include font(1.1);
			line-height: 1.6em;
			display: block;
			@include margin(1em auto);
			color:$fourthcolor;

		}

		ul {
			position: relative;
			color:$fourthcolor;
			display: block;
			@include margin(0.3em 2%);
			// max-width:250px;
			list-style: circle;


		}
		ul > li > ul {
			@include margin(0.3em 0);
			list-style: circle;

		}
		li {
			color:$fourthcolor;
			position: relative;
			max-width: 210px;
			font-family:$neu;
			font-weight: 500;
			@include font(1.1);
			line-height: 1em;
			@include margin(0.3em 2%);
			display: inline-block;
			list-style: circle;
			vertical-align: top;

		}

		li > ul > li {

				color:$fourthcolor;
				min-width: 150px;
				font-family:$neu;
				// font-weight: 300;
				@include font(0.8);
				line-height: 1.2em;
				@include margin(0.2em 5%);

		
		}
		
		// li > ul > li {
		// 	color:$fourthcolor;
			
		// 	max-width: 250px;
		// 	font-family:$neu;
		// 	font-weight: 300;
		// 	@include font(0.8);
		// 	line-height: 1em;
		// 	@include margin(0.5em 5%);
		// }
		// li > ul > li > ul > li {
		// 	color:$fourthcolor;
		// 	width: 95%;
		// 	font-family:$neu;
		// 	font-weight: 300;
		// 	@include font(0.9);
		// 	line-height: 1em;
		// 	@include margin(0.5em 0 0.5em 5%);
		// }
	}

	@media screen and (min-width:850px) {
		.content-wrap {
			width: 68%;
			float:right;
			@include margin(0 0 0 2%);
			position: relative;
			vertical-align: bottom;

		}
		clear:both;
	}
	
	.archive {
		@include padding(0.8em 2em 1.6em);
		clear:both;
		position: relative;
		width:80%;
		max-width:400px;
		@include margin(1em auto);
		background:$secondcolor;
		color:$maincolor;
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}

		@media screen and (min-width:850px) {
			width: 30%;
			float: left;
			clear:left;
			// vertical-align: top;
			// @include margin(2.28em 0);
			@include margin(4em 0 0);

		}
		a {
			color:$maincolor;
			font-family: $neu;
			// @include font(0.8);
			background-color:transparent;
			transition: background-color 0.3s ease;

			&:hover {
				background-color:$thirdcolor;
				transition: background-color 0.3s ease;
			}
		}
		.archive-title {
			font-weight: 700;
			@include font(1.2);
			width: 80%;
			@include margin(1em 0 0.4em);
			display: block;
			font-weight: 400;
			opacity: 0.8;

		}
		.archive-date {
			font-weight: 700;
			@include font(0.8);
			width: 80%;
			@include margin(0 0 2em);
			display: block;
			font-weight: 300;
			opacity: 0.8;

		}
		.recent {
			// text-align:center;
			color:$maincolor;
			clear:both;
			font-family: $neu;
			font-weight: 300;
			@include font(2.2);
			line-height: 1.1em;
			display: block;
			@include margin(0 auto 0.5em);
			letter-spacing: 1px;
			opacity: 0.90;
			// text-transform: uppercase;
		}
	}
	.post-header {
		width:100%;
		position: relative;
		overflow: hidden;

	}
	.post-img {
		clear:both;
		position: relative;
		overflow:hidden;
		width:100%;
		max-width:40em;
		max-height:25em;
		@include margin(0 auto);
	}
	.image-tint {
		// height:15em;
		display: block;
		position:relative;
		@include margin(0 auto);
	    overflow: hidden;
		opacity: 1;
		width:100%;
	    // height:auto;
	    background: $fourthcolor;
	}
	.image {
		width:110%;
		position: relative;
		@include margin(0 auto);
		opacity: 0.6;
		overflow:hidden;
	}
	.post-meta {
		position: absolute;
		bottom:4em;
		left:10%;
		width:80%;
		@include margin(0 auto);
		.post-title {
			color:$thirdcolor;
			clear:both;
			font-family: $neu;
			font-weight: 700;
			@include font(2.9);
			line-height: 1em;
			display: block;
			@include margin(0 auto 0.5em);
			letter-spacing: 1px;
			opacity: 0.9;
			// text-transform: uppercase;
			@media screen and (min-width:600px) {
				@include font(3.5);
			}
			@media screen and (min-width:850px) {
				@include font(4.3);
			}
		}
		.post-date {
			opacity: 0.85;
		    border-top: 2px solid $thirdcolor;
		    border-bottom: 2px solid $thirdcolor;
		    @include padding(0.3em);
		    @include margin(1em 0);
		   	clear:both;
			font-family: $neu;
			font-weight: 500;
			@include font(1.05);
			line-height: 1.1em;
			// display: block;
			// @include margin(0 auto);
			letter-spacing: 2px;
			// width: 40%;
			color:$thirdcolor;


		}
	}

	.prev,
	.next {
	    position: relative;
	    font-family: $neu;
	    color: $secondcolor;
	    @include font(1.1);
	    display: block;
	    width: 40%;
	    @include margin(0 1em 1em);
	    span {
	    	display: inline-block;
	    	width: 70%;
	    		vertical-align: middle;

	    	&.arrow {
	    		width: 5%;
	    	}
	    }
	}

	.prev {
		float:left;
	}
	.next {
		float:right;
		text-align:right;
	}

	.post-nav {
		width:100%;
		clear:right;
		// @include padding(2em 0);
		// @include margin(2em 0);
	}


}



.portfolio {
	width:100%;
	overflow:hidden;
	position: relative;
	background:transparent;
	@media screen and (min-width:600px) {
		width: 90%;
		max-width:$fullwidth;
		@include margin(0 auto);	
	}

	.page-type {
		position:relative;
		@include font(3);
		opacity:0.5;
		font-family:$neu;
		font-weight:700;
		color: $secondcolor;
		@include margin(0.5em auto);
		text-align:center;
		@media screen and (min-width:850px) {
			@include font(4);
			@include margin(1em 0);
		}

	}

	h3 {
		position:relative;
		@include font(2);
		opacity:0.7;
		font-family:$neu;
		font-weight:700;
		color: $secondcolor;
		@include margin(1.5em auto 0.5em);
		// text-align:center;
		width:100%;

	}
	.divider {
		border: 0;
	    height: 2px;
	    width: 100%;
	    opacity: 0.2;
	    // background-image: linear-gradient(to right, $maincolor, $fifthcolor, $maincolor);
	    background:$maincolor;
	}

	.post-content {
		width:90%;
		@include margin(2em auto);
		position: relative;
		overflow:hidden;
		// max-width: 400px;

		p {
			font-family: $neu;
			font-weight: 400;
			@include font(1.1);
			line-height: 1.6em;
			display: block;
			max-width: 500px;
			@include margin(1em 0);
			color:$fourthcolor;
		}

		ul {
			position: relative;
			color:$fourthcolor;
			display: block;
			@include margin(0.3em 2%);
			// max-width:250px;
			list-style: circle;
		}

		ul > li > ul {
			@include margin(0.3em 0);
			list-style: circle;
		}

		li {
			color:$fourthcolor;
			position: relative;
			max-width: 210px;
			font-family:$neu;
			font-weight: 500;
			@include font(1.1);
			line-height: 1em;
			@include margin(0.3em 2%);
			display: inline-block;
			list-style: circle;
			vertical-align: top;
		}

		li > ul > li {
				color:$fourthcolor;
				min-width: 150px;
				font-family:$neu;
				// font-weight: 300;
				@include font(0.8);
				line-height: 1.2em;
				@include margin(0.2em 5%);
		}
		
	}
	@media screen and (min-width:600px) {
		.content-wrap {
			width: 400px;
			// float:right;
			@include margin(0 auto);
			position: relative;
			// vertical-align: bottom;

		}
		clear:both;
	}	 
	@media screen and (min-width:850px) {
		.content-wrap {
			width: 68%;
			float:right;
			// @include margin(0 0 0 2%);
			position: relative;
			vertical-align: bottom;

		}
		clear:both;
	}

	
	
	.tech {
		width: auto;
		max-width: 300px;
		position: relative;
		overflow: hidden;
		display: block;
		@include margin(1em 5%);
		@media screen and (min-width:600px) {
			@include margin (1em 5%);
		}

		.sub-header {
			opacity: 0.85;
		    // border-top: 2px solid $fourthcolor;
		    border-bottom: 2px solid $fourthcolor;
		    @include padding(0.3em);
		    @include margin(1em 50% 1em 0);
		   	clear:both;
			font-family: $neu;
			font-weight: 500;
			@include font(1.05);
			line-height: 1.1em;
			display: inline-block;
			// @include margin(0 auto);
			letter-spacing: 2px;
			// width: 40%;
			color:$fourthcolor;
		}
		.items {
			opacity: 0.85;
		    // @include padding(0.3em);
		    @include margin(1em auto);
		   	clear:both;
			font-family: $neu;
			font-weight: 700;
			@include font(0.7);
			line-height: 1.1em;
			display: inline-block;
			// @include margin(0 auto);
			letter-spacing: 2px;
			// width: 30%;
			color:$fourthcolor;
		}


	}

	.screenshots {
		width: 90%;
		// max-width: 300px;
		position: relative;
		overflow: hidden;
		display: block;
		@include margin(1em 5%);
		// @media screen and (min-width:600px) {
		// 	@include margin (1em 5%);
		// }

		.sub-header {
			opacity: 0.85;
		    // border-top: 2px solid $fourthcolor;
		    border-bottom: 2px solid $fourthcolor;
		    @include padding(0.3em);
		    @include margin(1em 50% 1em 0);
		   	clear:both;
			font-family: $neu;
			font-weight: 500;
			@include font(1.05);
			line-height: 1.1em;
			display: inline-block;
			// @include margin(0 auto);
			letter-spacing: 2px;
			// width: 40%;
			color:$fourthcolor;
		}

		.shot {
			opacity: 0.8;
			position: relative;
			vertical-align: top;
			overflow: hidden;
			display: inline-block;
			width: 95%;
			@include margin(1em auto);
			transition: opacity 500ms ease;
			
			@media screen and (min-width:600px){
				width: 48%;
			}
			// max-width: 300px;
			// color:$fourthcolor;
			img {
				width: 95%;
				// max-height:14em;
				overflow: hidden;
				position: relative;
			}
			.modal-image {
				width: 100%;
			}
			.img-bound {
				max-height:14em;
				position: relative;
				overflow: hidden;
			}
			&:hover {
				opacity: 1;
				transition: opacity 500ms ease;
			}

		}

		.caption {
			opacity: 0.8;
		    // @include padding(0.3em);
		    @include margin(1em 10%);
		   	clear:both;
			font-family: $neu;
			font-weight: 500;
			@include font(0.8);
			line-height: 1.1em;
			display: inline-block;
			// bottom:-2em;

			// @include margin(0 auto);
			letter-spacing: 2px;
			// width: 30%;
			color:$fourthcolor;
		}


	}

	.archive {
		@include padding(0.8em 2em 1.6em);
		clear:both;
		position: relative;
		width:80%;
		max-width:400px;
		@include margin(1em auto);
		background:$secondcolor;
		color:$maincolor;
		opacity: 0.8;
		// z-index: 0;
		&:hover {
			opacity: 1;
		}

		@media screen and (min-width:850px) {
			width: 30%;
			float: left;
			clear:left;
			// vertical-align: top;
			@include margin(4em 0 0);

		}
		a {
			color:$maincolor;
			font-family: $neu;
			// @include font(0.8);
			background-color:transparent;
			transition: background-color 0.3s ease;

			&:hover {
				background-color:$thirdcolor;
				transition: background-color 0.3s ease;
			}
		}
		.archive-title {
			font-weight: 700;
			@include font(1.2);
			width: 80%;
			@include margin(1em 0 0.4em);
			display: block;
			font-weight: 400;
			opacity: 0.8;

		}
		.archive-date {
			font-weight: 700;
			@include font(0.8);
			width: 80%;
			@include margin(0 0 2em);
			display: block;
			font-weight: 300;
			opacity: 0.8;
		}
		.recent {
			// text-align:center;
			color:$maincolor;
			clear:both;
			font-family: $neu;
			font-weight: 300;
			@include font(2.2);
			line-height: 1.1em;
			display: block;
			@include margin(0 auto 0.5em);
			letter-spacing: 1px;
			opacity: 0.90;
			// text-transform: uppercase;
		}
	}
	.post-header {
		width:100%;
		position: relative;
		overflow: hidden;

	}
	.post-img {
		clear:both;
		position: relative;
		overflow:hidden;
		width:100%;
		max-width:40em;
		max-height:25em;
		@include margin(0 auto);
		@media screen and (min-width:600px) {
			// @include margin(0 5%);
		}

	}
	.image-tint {
		max-height:17em;
		display: block;
		position:relative;
		@include margin(0 auto);
	    overflow: hidden;
		opacity: 1;
		width:100%;
	    // height:auto;
	    background: $fourthcolor;

	    @media screen and (min-width:600px) {
			max-height:23em;
		}
	}
	.image {
		width:130%;
		position: relative;
		bottom:1em;
		left:-2em;
		@include margin(0 auto);
		opacity: 0.6;
		overflow:hidden;
	}
	.post-meta {
		position: absolute;
		bottom:2em;
		left:5%;
		width:80%;
		@include margin(0 auto);
		.post-title {
			color:$thirdcolor;
			clear:both;
			font-family: $neu;
			font-weight: 700;
			@include font(2.9);
			line-height: 1em;
			display: block;
			@include margin(0 auto 0.5em);
			letter-spacing: 1px;
			opacity: 0.9;
			// text-transform: uppercase;
			@media screen and (min-width:600px) {
				@include font(3.5);
			}
			@media screen and (min-width:850px) {
				@include font(4.3);
			}
		}
		.website {
			opacity: 0.85;
			float:left;
		    border-top: 2px solid $thirdcolor;
		    border-bottom: 2px solid $thirdcolor;
		    @include padding(0.3em);
		    @include margin(1em 0);
		   	clear:both;
			font-family: $neu;
			font-weight: 500;
			@include font(1.05);
			line-height: 1.1em;
			// display: block;
			// @include margin(0 auto);
			letter-spacing: 2px;
			// width: 40%;
			color:$thirdcolor;
			
		}

		.date {
			// text-align: center;
			float:left;
			overflow:hidden;
			@include margin(1em 0 1em 5%);
			@include padding(0.3em);
			display: inline-block;
			opacity: 0.85;
			font-family: $neu;
			color: $thirdcolor;
			font-weight: 500;
			@include font(1.05);
			line-height: 1.1em;
			border-top: 2px solid $thirdcolor;
			border-bottom: 2px solid $thirdcolor;
			letter-spacing: 2px;

		}
	}

	.prev,
	.next {
	    position: relative;
	    font-family: $neu;
	    color: $secondcolor;
	    @include font(1.1);
	    line-height: 1.1em;
	    display: block;
	    width: 40%;
	    @include margin(0 1em 1em);
	    span {
	    	display: inline-block;
	    	width: 70%;
	    	vertical-align: top;

	    	&.arrow {
	    		width: 5%;
	    	}
	    }
	}

	.prev {
		float:left;
	}
	.next {
		float:right;
		text-align:right;
	}

	.post-nav {
		width:100%;
		min-height:4em;
		clear:right;
		// @include padding(2em 0);
		// @include margin(2em 0);
	}

}







/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.85);
    z-index: 2;
}
 
/* Inner */
.popup-inner {
    max-width:900px;
    width:95%;
    max-height:100%;
    padding:1em;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    // background:#fff;
    background:$thirdcolor;
    overflow-y:scroll;
	overflow-x:hidden;
    


    .modal-caption {
		opacity: 0.8;
	    // @include padding(0.3em);
	    @include margin(1em 2%);
	   	clear:both;
		font-family: $neu;
		font-weight: 500;
		@include font(1.1);
		line-height: 1.5em;
		display: inline-block;
		// @include margin(0 auto);
		letter-spacing: 2px;
		// width: 30%;
		color:$fourthcolor;

    }

}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}