.contact {
    background-color: darken($maincolor,10%);
    position: relative;
    width: 100%;
    position: relative;
    overflow: hidden;
    .contain {
        max-width: 1000px;
        @include margin(0 auto);
    }
    .hero {
        text-align: center;
        max-width: 1000px;
        @include margin(0 auto);
        display: block;
        width: 100%;
        min-height: 20em;
        max-height:25em;
        position: relative;
        overflow: hidden;
        background: url('../img/blog/post-heros/hero.jpg');
        background-repeat:no-repeat;
        background-position: 80% 80%;
        background-size: cover;
        @media screen and (min-width:600px) {
            max-height:100em;
        }
        &:before {
            content: '';
            overflow: hidden;
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left:0;
            opacity: 0.5;
            background-color: $fourthcolor;
        }
        .para {
            display: none;
        }
        .email {
            display: none;
        }
        h2 {
            @include padding(0 0);
            @include margin(1.5em auto 2.5em);
            display: block;

            @include font(2);
            line-height: 1em;
            position: relative;
            transition: all 0.3s linear;


            opacity: 1;
            @media screen and (min-width:400px) {
                @include font(2.5);
                line-height: 1em;
                transition: all 0.3s linear;

            }
        }
        h3 {
            @include font(2);
            @include padding(0);
            line-height: 1em;
            position: relative;
            opacity: 1;
            @include margin(0 auto 3em);
            @media screen and (min-width:400px) {
                @include font(2.8);
                line-height: 1em;
            }
        }
        .para {
            display: none;
        }
        .divider {
            width: 300px;
            height:2px;
            @include margin(0 auto);
            background: $maincolor;
            position: relative;
            opacity: 0.8;
        }
    }
    .blurb {
        text-align: center;
        @include margin(0);
        display: block;
        width: 100%;
        position: relative;
        @include padding(2em 0);
        // &:before {
        //     content: '';
        //     position: absolute;
        //     top:0;
        //     left:0;
        //     width: 100%;
        //     height:100%;
        //     background:darken($brandcolor,8%);
        // }
        p {
            @include font(1.1);
            line-height: 1.6em;
            font-family: $neu;
            text-align: left;
            position: relative;
            display: inline-block;
            width:80%;
            max-width: 350px;
            @include margin(1em auto);

        }
    }
    .email {
            position: relative;
            // background:$brandcolor;
            // background: rgba(46,82,107,1);
            z-index: 99;
            overflow: hidden;
            width: 100%;
            max-width: 350px;
            @include margin(0 auto);
            // @include padding(0 5%);
            font-family: $neu;
            fieldset {
                // @include padding(2em 5%);
            }
            h3 {
                width: 80%;
                @include margin(0 10%);
                text-align:center;
            }
            input, 
            textarea {
                font-family: $neu;
                opacity: .5;
                @include transition(opacity 500ms ease-in 0);


                &:focus {
                    opacity: .8;
                    @include transition(opacity 500ms ease-in 0);
                }
            }
            input[type=text] {
                &.input-reg {
                    width: 98%;
                    vertical-align: top;
                    color: $fourthcolor;
                    @include font(1.1);
                    @include margin(1em 1%);
                    @include padding(0.7em);
                    border:none;
                    position: relative;
                    z-index: 2;
                    background:$thirdcolor;
                }
                &.last {
                    height:10em;
                    // word-wrap: 
                }
            }
            .large-box {
                    width: 98%;
                    vertical-align: top;
                    text-align:left;
                    color: $fourthcolor;
                    @include font(1.1);
                    @include margin(1em 1%);
                    @include padding(0.7em);
                    border:none;
                    position: relative;
                    z-index: 2;
                    background:$thirdcolor;
                    height:10em;

            }
        }
        // p {
        //     @include font(1);
        //     text-align: left;
        //     position: relative;
        //     display: inline-block;
        //     width:80%;
        //     max-width: 350px;
        //     @include margin(1em auto);
        // }
        .call {
            // width: 50%;
            @include margin(1em 1% 1em);
            @include padding(0.7em 1em);
            @include font(1.1);
            display: block;
            position: relative;
            font-family: $neu;
            cursor: pointer;
            opacity: .7;
            background-color: lighten($fifthcolor,5%);
            color:$maincolor;
            @include transition(background-color 300ms ease-in 0s);
            border: none;
            img {
                display: none;
            }
            &.complete {
                @include transition(background-color 300ms ease-in 0s);
                background:darken($secondcolor,10%);
            }
        }    
        ::-webkit-input-placeholder {
           color: $fourthcolor;
        }

        :-moz-placeholder { /* Firefox 18- */
           color: $fourthcolor;  
        }

        ::-moz-placeholder {  /* Firefox 19+ */
           color: $fourthcolor;  
        }

        :-ms-input-placeholder {  
           color: $fourthcolor;  
        }
    }
// <!--===========================================================
// ===============================================================  


//             Desktop Media Query


// ==============================================================
// ===========================================================-->



@media screen and (min-width:900px) {
    .contact {

        .hero {
            width: 100%;
            // height:25em;
            // @include margin(0 0 0 0);
            background-position: bottom;
            &:before {
                // background-color: darken($fourthcolor,15%);
            }

            .para {
                vertical-align: top;
                text-align: left;
                @include margin(3em 0);
                display: block;
                width: 45%;
                p {
                    @include font(1.1);
                }
                max-width: 350px;
                position: relative;
                @include padding(2em auto);
            }
            .email {
                float: left;
                display: block;
                position: relative;
                // background:$brandcolor;
                // background: rgba(46,82,107,1);
                z-index: 99;
                overflow: hidden;
                width: 45%;
                max-width: 350px;
                @include margin(0 auto 3em);
                // @include padding(0 2%);
                fieldset {
                    @include padding(2em auto);
                }
                // h3 {
                //     width: 80%;
                //     @include margin(0 0 0 10%);
                //     text-align:left;
                // }
                input[type=text] {
                    &.input-reg {
                        width: 98%;
                        vertical-align: top;
                        color: $fourthcolor;
                        @include font(1.1);
                        @include margin(1em 1%);
                        @include padding(0.7em);
                        border:none;
                        position: relative;
                        z-index: 2;
                        background:$thirdcolor;
                    }
                    &.last {
                        height:10em;
                        // word-wrap: 
                    }
                }
                .large-box {
                        width: 98%;
                        vertical-align: top;
                        text-align:left;
                        color: $fourthcolor;
                        @include font(1.1);
                        @include margin(1em 1%);
                        @include padding(0.7em);
                        border:none;
                        position: relative;
                        z-index: 2;
                        background:$thirdcolor;
                        height:10em;

                }
            }
            h2 {
                @include padding(0 0);
                // @include margin(3em 0 0 8%);
                @include margin(1em 0);
                display: block;
                text-align: center;
                @media screen and (min-width:950px) {
                    // @include margin(3em 0 0 10%);
                }
                @include font(3);
                width:50%;
                line-height: 1em;
                text-align: left;
                position: relative;
            }
        }
        .blurb {
            display: none;
        }
        .email {
            display: none;
        }
    }
}
.email-sent {
    background:$fourthcolor;
    color:rgb(212,201,173);
          h2 {
            @include font(3);
            line-height: 1em;
            text-align:center;
            @include margin(2em auto 0.5em);
            &.error {
                // color:darken($highlightcolor,5%);
                @include font(5);
                line-height: 1em;
            }
          }
          p {
            
            @include font(1.5);
            text-align:center;
            @include margin(0 auto 0.5em);
            &.error {
                width: 60%;
                line-height: 1.4em;
            }
          }

          a {
              width: 20%;
              @include margin(1em auto 3em);
              @include padding(0.7em 1em);
              position: relative;
              color: $thirdcolor;
              border: none;
              background:darken($thirdcolor,0%);
              @include font(1.2);
              line-height: 1.8em;
              opacity: 1;
              display: block;
              letter-spacing: 1.5px;
              text-align:center;
              
              &:hover {
                background: lighten($thirdcolor,5%);
              }
            &.error {
                background-color: darken($secondcolor,5%);
                color:$thirdcolor;
                width:40%;
            }
          }
    @media screen and (min-width:600px) {
        @include padding(0 0 0 10%);
          h2 {
            @include font(6);
            line-height: 1em;
            text-align:left;
            @include margin(2em auto 0.1em);
            &.error {
                @include margin(1em auto 0.1em);

                @include font(10);
                line-height: 1em;
            }
          }
          p {
            
            @include font(2.5);
            line-height: 1.3em;
            text-align:left;
            @include margin(0 auto 0.3em);
            &.error {
                width: 80%;
                @include margin(0 0 0.3em 0);
                line-height: 1.4em;
            }
          }

          a {
              width: 30%;
              @include margin(1em 0 3em);
              @include padding(0.4em 1em);
              position: relative;
              color: $maincolor;
              border: none;
              background:darken($thirdcolor,0%);
              @include font(1.9);
              line-height: 1.8em;
              opacity: 1;
              display: block;
              letter-spacing: 1.5px;
              text-align:center;
              &.error {
                width: 50%;
              }
              &:hover {
                background: lighten($thirdcolor,5%);
              }
          }
    }
    @media screen and (min-width:750px) {
        @include padding(0 0 0 20%);
    }

}
