---
layout: default
---

<div class="portfolio">
  
  	<h2 class="page-type">BLOG</h2>

	<div class="content-wrap">
	  	<div id="post-nav" class="post-nav">

		    {% if page.previous.url %}

		      	<a class="prev" href="{{page.previous.url}}"><span class="arrow">&laquo;</span> <span>{{page.previous.title}}</span></a> 

		    {% endif %} 

		    {% if page.next.url %} 

		      	<a class="next" href="{{page.next.url}}"><span>{{page.next.title}}</span> <span class="arrow">&raquo;</span></a> 

		    {% endif %} 

	  	</div>

	    <div class="post-img">            

	        <figure class="image-tint">
	          	<img class="image" src="{{ page.image | prepend: site.baseurl }}" />
	        </figure>
	        
	        <a href="http://{{ page.website }}" class="post-meta">
	          <h2 class="post-title">{{ page.title }}</h2>
	          <span class="website">{{ page.website }}</span>
	          <span class="date">{{ page.date | date: "%b %-d, %Y" }}</span>
	        </a>

	    </div>



	    <ul class="tech">
	      <li class="sub-header">Tech Used</li>
	      {% for tech in page.tech %}
	        <li class="items">{{ tech }}</li>
	      {% endfor %}
	    </ul>

	    

	    <article class="post-content">

	      {{ content }}

	    </article>

	   	<ul class="screenshots">
        	<li class="sub-header">Screenshots</li>
          {% for screenshot in page.screenshots %}
            <li class="shot">
            	<div class="img-bound">
	            	<a data-popup-open="{{ screenshot.shot  }}" href="#"><img src="{{ screenshot.shot  }}" /></a>
	            </div>
            	<span class="caption">{{ screenshot.caption }}</span>

            	<div class="popup" data-popup-close="{{ screenshot.shot  }}" data-popup="{{ screenshot.shot  }}">

				    <div class="popup-inner">

				        <div class="modal-img">

			            	<img class="modal-image" src="{{ screenshot.shot  }}" />

			            </div>

		            	<span class="modal-caption">{{ screenshot.caption }}</span>

				        <p><a data-popup-close="{{ screenshot.shot  }}" href="#">Close</a></p>

				        <!-- <a class="popup-close" data-popup-close="{{ screenshot.shot  }}" href="#">x</a> -->

				    </div>
				</div>
            </li>
            
          {% endfor %}
        </ul>
	</div>


  <div class="archive">

    <h2 class="recent">archive</h2>

    <div class="divider"></div>

      <ul class="week-archive">
			
    		{% assign sorted = site.blog | sort: 'date' | reverse %}
            {% for blog in sorted limit:10 %}

                <li class="archive-box">

                  <a class="post-link" href="{{ blog.url | prepend: site.baseurl }}">

                    <span class="archive-title">

                      {{ blog.title }}

                    </span>

                    <span class="archive-date">

                      {{ blog.date | date: "%b %-d, %Y" }} 

                    </span>

                  </a>

                  <div class="divider"></div>

                </li>

            {% endfor %}

      </ul>

  </div>

</div>